@font-face {
    font-family: 'FontopoNIHONGO';
    src: url('FontopoNIHONGO.woff2') format('woff2'),
        url('FontopoNIHONGO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

