html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	font-size: 2rem;
	background: url(../imgs/temp.jpg) no-repeat center;
	background-size: cover;
	color: #fefefe;
	font-family: 'Noto Sans JP';
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	text-align: center;
	height: 100vh;
	overflow: hidden;
}

#player,
#gallery {
	background: #fefefe22 url(../imgs/noise.png);
	background-size: contain;
	background-repeat: repeat;
	background-position: center bottom;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 1rem black;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black;
	font-weight: 500;
}

#player {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 2rem;
	min-height: 24rem;
	min-width: 48rem;
}

#player > :not(:last-child) {
	margin-bottom: 1em;
}

.content {
	word-break: keep-all;
}

.subtitle {
	font-size: 0.6em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	user-select: none;
}

#controls {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#controls > :first-child {
	margin: 2rem;
}

#volume {
	width: 100%;
	-webkit-appearance: none;
	height: 4px;
	background-color: #fefefe;
	box-shadow: 0 0 2px black;
}

#volume:focus {
	outline: none;
}

#volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 2rem;
	width: 1rem;
	background-color: #fefefe;
	box-shadow: 0 0 4px black;
}

.muted {
	text-decoration: line-through;
}

hr {
	border: 0;
	height: 1px;
	width: 50%;
	background: linear-gradient(to right, #fefefe00, #fefefe, #fefefe00);
}
