html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*:link, *:visited{
	color: currentColor;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	font-size: 2rem;
	background: #131313;
	color: #fefefe;
	font-family: 'Noto Sans JP';
	user-select: none;
}

.wrapper {
	position: relative;
	height: auto;
	max-width: 140rem;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 1rem;
}

p {
	margin: 1rem;
}