.window--light {
	--border-light: #dbe0d7;
	--border-medium: #9fa696;
	--border-dark: #52564e;
	--border-title: #646c63;
	--title-color: #5e5f5a;
}

.window--dark {
	--border-light: #8a9489;
	--border-medium: #646c63;
	--border-dark: #353835;
	--border-title: #ddddd2;
	--title-color: #ddded2;
}