html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	background-image: url('/images/backgrounds/temp.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: crisp-edges;
	color: #fefefe;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka,
		'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	width: 100%;
	height: 100vh;
}

.splash {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 100;

	background-color: rgba(0, 0, 0, 0.66);
	backdrop-filter: blur(2rem);

	animation: close both 1s ease-out;
	animation-delay: 5s;

	&__banner {
		image-rendering: pixelated;
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.player {
	position: absolute;
	top: 0;
	left: 0;

	&__controls {
		display: flex;
		background-color: #333333;
		padding: 2rem;

		& > *:not(:first-child):not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.loader {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.loader .loader__dot {
	width: 6px;
	height: 6px;
	background-color: currentColor;
	animation: both 1.5s wave infinite ease-in-out;
}

.loader .loader__dot:not(:last-child) {
	margin-right: 1rem;
}

.loader .loader__dot:nth-of-type(1) {
	animation-delay: -0.75s;
}
.loader .loader__dot:nth-of-type(2) {
	animation-delay: -0.5s;
}
.loader .loader__dot:nth-of-type(3) {
	animation-delay: -0.25s;
}
.loader .loader__dot:nth-of-type(4) {
	animation-delay: 0;
}

@keyframes wave {
	from {
		transform: translate(0, -2px);
	}

	50% {
		transform: translate(0, 2px);
	}

	to {
		transform: translate(0, -2px);
	}
}

@keyframes close {
	from {
	}

	to {
		visibility: hidden;
		opacity: 0;
	}
}
