html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	background: url('/images/backgrounds/temp.jpg') center no-repeat;
	background-size: cover;
	color: #fefefe;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Noto Sans JP', 'Noto Sans KR', sans-serif;
	font-weight: 500;
	width: 100%;
	height: 100vh;
}

.player {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2rem;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.player__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	background: #242424;
	box-shadow: 0 0 0.5rem black;
	padding: 1rem;
	z-index: -1;
}

.player__warning {
	font-size: 1.25rem;
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 2rem;
	text-decoration: underline;
}

.player__info {
	display: flex;
	background: #242424;
	box-shadow: 0 0 0.5rem black;
	padding: 2rem;
}

.player__text {
	display: flex;
	flex-direction: column;
	justify-content: center;

	& > :not(:last-child) {
		margin-bottom: 1.25rem;
	}
}

.player__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.player__title {
	white-space: nowrap;
}

.player__subtitle {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-bottom: 1px solid currentColor;
	padding: 0 12px 4px 0;
	user-select: none;
}

.player__art {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3rem;
	height: 160px;
	width: 160px;

	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.player__controls {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #242424;
	box-shadow: 0 0 0.5rem black;
	padding: 1rem 3rem;
	z-index: -1;
}

.player__controls > * {
	cursor: pointer;
	font-size: 1.5rem;
	user-select: none;
}

.player__controls > :not(:last-child) {
	margin-right: 1rem;
}

.player__volume {
	width: 200px;
}

.muted {
	text-decoration: line-through;
	color: darken(#fefefe, 20%);
}

.loader {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.loader .loader__dot {
	width: 6px;
	height: 6px;
	background-color: currentColor;
	animation: both 1.5s wave infinite ease-in-out;
}

.loader .loader__dot:not(:last-child) {
	margin-right: 1rem;
}

.loader .loader__dot:nth-of-type(1) {
	animation-delay: 0;
}
.loader .loader__dot:nth-of-type(2) {
	animation-delay: 0.25s;
}
.loader .loader__dot:nth-of-type(3) {
	animation-delay: 0.5s;
}
.loader .loader__dot:nth-of-type(4) {
	animation-delay: 0.75s;
}

@keyframes wave {
	from {
		transform: translate(0, -2px);
	}

	50% {
		transform: translate(0, 2px);
	}

	to {
		transform: translate(0, -2px);
	}
}
