:root {
	--fg-1: #d9d9d9;
	--fg-2: #7d8379;
	--fg-3: #464e46;
	--fg-4: #2c302c;

	--bg-1: #8b9186;
	--bg-2: #677267;

	--wbg-1: #dcdcd0;
	--wbg-2: #ccccc1;

	--brd-1: #b1b5b1;
	--brd-2: #636a62;

	--delay-timing: 0.1s;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:link,
*:visited {
	color: currentColor;
	text-decoration: none;
}

body {
	background-image: linear-gradient(0deg, var(--bg-1) 2px, transparent 4px),
		linear-gradient(90deg, var(--bg-1) 2px, var(--bg-2) 4px);
	background-size: 4px 4px, 4px 4px;
	background-position: 4px 4px, 4px 4px;
	color: var(--fg-4);
	font-size: 1.6rem;
	font-family: 'Unifont', 'Noto Sans JP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
		Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.wrapper {
	display: flex;
	min-height: 100vh;
}

.window {
	background-color: var(--wbg-2);
	margin: auto;
	padding: 2rem;
}

.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	& > p,
	& > img {
		margin-bottom: 1rem;
	}

	& img {
		display: block;
		max-width: 240px;
		max-height: 240px;
	}

	&__controls {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& > * {
			padding: 0 0.5rem;
		}
	}

	&__volume {
		flex: 1 0;
	}

	&__playpause {
		font-size: 2em;
		line-height: 0.5;
	}

	input[type='range'] {
		-webkit-appearance: none;
		width: 100%;
		background: transparent;
	}

	input[type='range']:focus {
		outline: none;
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		background-color: #636a62;
		border: outset 2px #b1b5b1;
		cursor: pointer;
	}

	input[type='range']::-moz-range-thumb {
		border-radius: 0;
		width: 16px;
		height: 16px;
		margin-top: -8px;
		background-color: #636a62;
		border: outset 2px #b1b5b1;
		cursor: pointer;
	}

	input[type='range']::-webkit-slider-runnable-track {
		width: 100%;
		height: 2px;
		background-color: #2c302c;
	}

	input[type='range']::-moz-range-track {
		width: 100%;
		height: 2px;
		background-color: #2c302c;
	}
}

.loader {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.loader .loader__dot {
	width: 6px;
	height: 6px;
	animation: both 1s wave infinite steps(3);
}

.loader .loader__dot:not(:last-child) {
	margin-right: 1rem;
}

.loader .loader__dot:nth-of-type(1) {
	animation-delay: 0s;
}
.loader .loader__dot:nth-of-type(2) {
	animation-delay: var(--delay-timing);
}
.loader .loader__dot:nth-of-type(3) {
	animation-delay: calc(var(--delay-timing) * 2);
}
.loader .loader__dot:nth-of-type(4) {
	animation-delay: calc(var(--delay-timing) * 3);
}

@keyframes wave {
	from {
		background-color: var(--fg-4);
	}

	50% {
		background-color: var(--fg-1);
	}

	to {
		background-color: var(--fg-4);
	}
}
