.player {
	&__audio {
		display: none;
	}

	&__tooltip {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: capitalize;
		font-size: 12px;
		z-index: 2;

		& .window__content {
			padding: 4px 8px;
		}

		&.active {
			display: block;
		}
	}

	&__coverart {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 176px;
		height: 176px;

		& > img {
			image-rendering: pixelated;
			image-rendering: -moz-crisp-edges;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__controls {
		height: 100%;
		display: grid;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
	}

	&__button {
		padding: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark),
			inset var(--border-sizing) var(--border-sizing) 0 var(--border-light);
		background: var(--border-medium);
		font-size: 24px;
		color: black;
		line-height: 0.6;
		user-select: none;
		cursor: pointer;

		&:active {
			box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-medium),
				inset var(--border-sizing) var(--border-sizing) 0 var(--border-light);
			background: var(--border-dark);
			color: white;
		}
	}

	&__volume {
		margin: 0;
	}

	&__volume__display {
		position: absolute;
		border: calc(2 * var(--border-sizing)) solid;
		border-top-color: var(--border-light);
		border-right-color: var(--border-dark);
		border-bottom-color: var(--border-dark);
		border-left-color: var(--border-light);
		background-color: var(--border-medium);
		box-shadow: inset 0 0 0 2px var(--border-medium);
		background: var(--bg-pattern-light);
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 4px 8px;
		height: 100%;

		& > span:first-of-type {
			font-size: 12px;
			margin-bottom: 4px;
		}

		transform: translate(calc(-100% - 7px), 0);

		&.active {
			display: flex;
		}
	}
}

.player__info {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 200px;
	height: 100%;
	padding: 2px;
	list-style-type: none;
	list-style-position: inside;

	& > li:first-child {
		counter-reset: customlistcounter;
	}

	& > li {
		display: flex;
		align-items: center;
		counter-increment: customlistcounter;
		padding: 2px;
		cursor: help;

		&:hover {
			background-color: #59546c;
			color: #b3bbad;
		}
	}

	& > li:before {
		content: counter(customlistcounter) ' ';
		float: left;
		margin: 0 4px;
	}

	&__decor {
		margin-top: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 2px;
		font-size: 12px;
		color: #8e988d;
		background-color: #555a63;
		user-select: none;
		cursor: default;

		& > span:first-child {
			margin-right: auto;
		}
	}
}
