.player {
	&__audio {
		display: none;
	}

	&__popup {
		left: 50%;
		bottom: 110%;
		transform: translate(-50%, 0);
		position: absolute;
		display: none;
		text-transform: capitalize;
		z-index: 2;

		& .window__content {
			padding: 12px;
		}

		&.active {
			display: block;
		}
	}

	&__tooltip {
		position: fixed;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-transform: capitalize;
		font-size: 12px;
		z-index: 2;

		& .window__content {
			padding: 4px 8px;
		}

		&.active {
			display: block;
		}
	}

	&__coverart {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 176px;
		height: 176px;

		& > img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	&__controls {
		width: 200px;
		height: 46px;
		display: grid;
		grid-template-areas:
			'b b a'
			'c d a';
		grid-template-columns: 1fr 1fr min-content;
		grid-template-rows: 1fr 1fr;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark),
			inset var(--border-sizing) var(--border-sizing) 0 var(--border-light);
		background: var(--border-medium);
		user-select: none;
		cursor: pointer;

		&:active {
			filter: invert(1);
			// box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-light),
			// 	inset var(--border-sizing) var(--border-sizing) 0 var(--border-medium);
			// background: var(--border-dark);
		}
	}

	&__playpause {
		grid-area: c;
	}

	&__icon__play {
		width: 0;
		height: 0;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 12px solid black;
	}

	&__icon__pause {
		display: flex;
		&::before,
		&::after {
			content: '';
			width: 4px;
			height: 12px;
			margin: 0 2px;
			background-color: black;
		}
	}

	&__mutetoggle {
		grid-area: d;
		img {
			width: 16px;
			height: auto;
		}
	}

	&__volume {
		grid-area: b;
		margin: 0;
		cursor: pointer;
	}

	&__volume__display {
		grid-area: a;
		box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0
				darken($color: #59546c, $amount: 15%),
			inset var(--border-sizing) var(--border-sizing) 0 lighten($color: #59546c, $amount: 30%);
		background-color: #59546c;
		color: #cfd4cb;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2px 8px;
		font-size: 10pt;
		user-select: none;

		& > span:first-of-type {
			font-size: 8pt;
			margin-bottom: 4px;
		}

		&.active {
			display: flex;
		}
	}
}

.player__info {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 96px;
	padding: 2px;
	list-style-type: none;
	list-style-position: inside;

	& > li:first-child {
		counter-reset: customlistcounter;
	}

	& > li {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		counter-increment: customlistcounter;
		padding: 2px;
		cursor: pointer;

		&:hover {
			background-color: #59546c;
			color: #cfd4cb;
		}
	}

	& > li:before {
		content: counter(customlistcounter);
		float: left;
		margin: 0 8px 0 4px;
	}

	&__decor {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 2px;
		font-size: 12px;
		color: #8b9186;
		background-color: #555a63;
		user-select: none;
		cursor: default;
	}
}
