.splash {
	position: absolute;
	margin: auto;
	width: 480px;
	height: 360px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	image-rendering: pixelated;

	& .window__content {
		display: flex;
		align-items: center;
		padding: 16px;
		overflow: hidden;
	}

	&__banner {
		height: 100%;
		width: 45%;
		overflow: hidden;
		background-image: url('/images/fountainofdreamsbanner.gif');
		background-repeat: no-repeat;
		background-position: calc(50% + 6px) calc(100% + 32px);
	}

	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		margin-left: 16px;
		line-height: 1.2em;
		white-space: pre-line;
		text-align: center;

		& h2 {
			font-size: 20px;
			letter-spacing: 4px;
			border-bottom: 3px solid currentColor;
			text-shadow: 1px 0 0 currentColor;
			padding-left: 24px;
			padding-right: 24px;
			padding-bottom: 12px;
		}

		& h3 {
			color: #59546c;
			border-bottom: 1px solid currentColor;
			padding-bottom: 4px;
		}

		& img {
			max-width: 100%;
		}

		& > :not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	@media screen and (max-width: 496px) {
		width: 280px;
		height: 480px;

		& .window__content {
			flex-direction: column;
			justify-content: center;
		}

		& &__banner {
			height: 45%;
			width: 100%;
			margin-bottom: 24px;
		}

		& &__text {
			flex: 0;
			margin: 0;
			font-size: 18px;
		}
	}

	@media screen and (max-width: 320px), screen and (max-height: 320px) {
		width: 100%;

		& h2 {
			font-size: 16px;
		}

		& &__text {
			flex: 0;
			margin: 0;
			font-size: 12px;
		}
	}
}
