.window {
	position: relative;
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
	transform: translate(0px, 0px);
	z-index: auto;
	user-select: none;
	max-width: 100vw;
	max-height: 100vh;

	&.minimize {
		display: none;
	}

	&__mask {
		position: relative;
		height: 100%;
		background-color: var(--border-medium);
		border: calc(2 * var(--border-sizing)) solid;
		border-top-color: var(--border-light);
		border-right-color: var(--border-dark);
		border-bottom-color: var(--border-dark);
		border-left-color: var(--border-light);
	}

	&__decor {
		&--horizontal,
		&--vertical {
			position: absolute;
			z-index: 1;
		}

		&--vertical {
			top: -2px;
			right: calc(var(--button-sizing) + 3px);
			left: calc(var(--button-sizing) + 3px);
			bottom: -2px;
			box-shadow: calc(-1 * var(--border-sizing)) 0 0 var(--border-dark),
				inset var(--border-sizing) 0 0 var(--border-light), inset calc(-1 * var(--border-sizing)) 0 0 var(--border-dark),
				var(--border-sizing) 0 0 var(--border-light);
		}

		&--horizontal {
			top: calc(var(--button-sizing) + 3px);
			right: -2px;
			left: -2px;
			bottom: calc(var(--button-sizing) + 3px);
			box-shadow: 0 calc(-1 * var(--border-sizing)) 0 var(--border-dark),
				inset 0 var(--border-sizing) 0 var(--border-light), inset 0 calc(-1 * var(--border-sizing)) 0 var(--border-dark),
				0 var(--border-sizing) 0 var(--border-light);
		}

		&--inner {
			position: relative;
			display: flex;
			flex-direction: column;
			height: inherit;
			border: 1px solid;
			border-top-color: var(--border-dark);
			border-right-color: var(--border-light);
			border-bottom-color: var(--border-light);
			border-left-color: var(--border-dark);
			z-index: 2;
		}
	}

	&__inner {
		position: relative;
		height: inherit;
		border: calc(2 * var(--border-sizing)) solid var(--border-medium);
	}

	&__titlebar {
		flex-shrink: 0;
		position: relative;
		display: flex;
		background-color: var(--border-light);
		height: var(--button-sizing);
		font-size: 1.2rem;
		color: var(--border-title);
		z-index: 1;

		& > * {
			box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark),
				inset var(--border-sizing) var(--border-sizing) 0 var(--border-light);
			background: var(--border-medium);
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--button-sizing);
		}

		&__button:active {
			filter: invert(1);
		}

		&__options::after {
			content: '';
			width: 12px;
			height: 4px;
			box-shadow: inset var(--border-sizing) var(--border-sizing) 0 var(--border-light),
				inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark);
		}

		&__min::after {
			content: '';
			width: 4px;
			height: 4px;
			box-shadow: inset var(--border-sizing) var(--border-sizing) 0 var(--border-light),
				inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark);
		}

		&__max::after {
			content: '';
			width: 10px;
			height: 10px;
			box-shadow: inset var(--border-sizing) var(--border-sizing) 0 var(--border-light),
				inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark);
		}

		&__name {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 8px;
		}

		&__options__menu {
			position: absolute;
			top: 100%;
			left: 0;
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			z-index: 20;

			& h2 {
				padding: 2px 6px;
				color: var(--border-title);
				background-color: var(--border-medium);
				border: var(--border-sizing) solid;
				border-top-color: var(--border-light);
				border-right-color: var(--border-dark);
				border-bottom-color: var(--border-dark);
				border-left-color: var(--border-light);
			}

			& ul {
				color: white;
				background-color: var(--border-medium);
				border: var(--border-sizing) solid;
				border-top-color: var(--border-light);
				border-right-color: var(--border-dark);
				border-bottom-color: var(--border-dark);
				border-left-color: var(--border-light);
			}

			& li {
				padding: 6px 6px;
				border: 1px solid transparent;
				background-color: black;

				&:hover {
					background-color: var(--border-light);
					color: black;
				}
			}
		}
	}

	&__content {
		flex-grow: 1;
		position: relative;
		background: var(--bg-window);
		background-size: 2px 2px, 2px 2px;
		white-space: pre;
	}
}
