.window {
	--border-sizing: 1px;
	--button-sizing: 20px;

	position: relative;
	box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);

	&__placeholder {
		position: absolute;
		top: -100%;
		left: 0;
	}

	&__mask {
		position: relative;
		height: 100%;
		background-color: var(--border-medium);
		border: calc(2 * var(--border-sizing)) solid;
		border-top-color: var(--border-light);
		border-right-color: var(--border-dark);
		border-bottom-color: var(--border-dark);
		border-left-color: var(--border-light);
	}

	&__decor {
		&--horizontal,
		&--vertical {
			position: absolute;
		}

		&--horizontal {
			top: -2px;
			right: 23px;
			left: 23px;
			bottom: -2px;
			box-shadow: calc(-1 * var(--border-sizing)) 0 0 var(--border-dark),
				inset var(--border-sizing) 0 0 var(--border-light), inset calc(-1 * var(--border-sizing)) 0 0 var(--border-dark),
				var(--border-sizing) 0 0 var(--border-light);
		}

		&--vertical {
			top: 23px;
			right: -2px;
			left: -2px;
			bottom: 23px;
			box-shadow: 0 calc(-1 * var(--border-sizing)) 0 var(--border-dark),
				inset 0 var(--border-sizing) 0 var(--border-light), inset 0 calc(-1 * var(--border-sizing)) 0 var(--border-dark),
				0 var(--border-sizing) 0 var(--border-light);
		}

		&--inner {
			position: relative;
			display: flex;
			flex-direction: column;
			height: inherit;
			border: 1px solid;
			border-top-color: var(--border-dark);
			border-right-color: var(--border-light);
			border-bottom-color: var(--border-light);
			border-left-color: var(--border-dark);
			z-index: 2;
		}
	}

	&__inner {
		height: inherit;
		border: calc(2 * var(--border-sizing)) solid var(--border-medium);
	}

	&__titlebar {
		position: relative;
		display: flex;
		background-color: var(--border-light);
		height: var(--button-sizing);
		font-size: 1.2rem;
		color: var(--border-title);
		z-index: 1;
		user-select: none;

		& > * {
			box-shadow: inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark),
				inset var(--border-sizing) var(--border-sizing) 0 var(--border-light);
			background: var(--border-medium);
		}

		&__min,
		&__exit {
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--button-sizing);
		}

		&__min:active,
		&__exit:active {
			filter: invert(1);
		}

		&__min::after {
			content: '';
			width: 12px;
			height: 4px;
			box-shadow: inset var(--border-sizing) var(--border-sizing) 0 var(--border-light),
				inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark);
		}

		&__exit::after {
			content: '';
			width: 12px;
			height: 12px;
			box-shadow: inset var(--border-sizing) var(--border-sizing) 0 var(--border-light),
				inset calc(var(--border-sizing) * -1) calc(var(--border-sizing) * -1) 0 var(--border-dark);
		}

		&__name {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 8px;
		}
	}

	&__content {
		flex-grow: 1;
		position: relative;
		background-image: var(--bg-pattern-light);
		background-size: 2px 2px, 2px 2px;
		z-index: 1;
		white-space: pre;
	}
}
